*{margin: 0px; padding: 0px;}
			li{list-style: none;}
			a{text-decoration: none;}
			img{border: none;vertical-align: bottom;}
			body{
				font-size: 24px;
				font-family: "ו";
				background-image: linear-gradient(#e66465, #9198e5);
			}
			.myNav{
				height: 95px;
				width: 100%;
				/* padding: 10px 190px 0px 190px; */
				/* background-color: #31B0D5; */
				background-image: linear-gradient(to bottom right, red, #31B0D5);
			}
			.logo{
				margin-left: 180px;
				width: 200px;
				height: 80px;
				background: white;
				border-radius: 50%;
				background-color: #EEEE00;
				font-family: "ms serif";
				font-size: 50px;
				font-style: italic;
				color: mediumpurple;
				text-align: center;
				line-height: 77px;
				box-shadow: -10px 10px 10px black;
				float: left;
			}
			.strip{
				width: 700px;
				height: 60px;
				float: left;
				margin-top: 20px;
				margin-left: 100px;
				border-bottom: 4px solid black;
			}
			.strip>ul{
				width: 100%;
				height: 100%;
			}
			.strip>ul>li{
				width: 126px;
				height: 46px;
				margin-left: 35px;
				text-align: center;
				line-height: 50px;
				font-size: 20px;
				background-color: #96CDCD;
				float: left;
				border-radius: 20px 20px 20px 20px;
				border: 2px solid #96CDCD;
				cursor: pointer;
			}
			.strip>ul>li:hover{
				border: 2px solid white;
			}
			.left{
				width: 270px;
				float: left;
			}
			.left>ul{
				width: 100%;
			}
			.left>ul>li{
				width: 240px;
				float: right;
				text-align: center;
				margin-top: 10px;
			}
			.left>ul>li>h3{
				width: 100%;
				height: 60px;
				font-size: 26px;
				font-weight: bold;
				line-height: 60px;
				color: white;
				background-color: #0000FF;
				border-radius: 0px 40px 40px 0px;
				box-shadow: 2px 2px 2px #101010;
				cursor: pointer;
			}
			left>ul>li>.title{
				width: 100%;
			}
			.left>ul>li>.title>p{
				width: 100%;
				height: 50px;
				font-size: 20px;
				line-height: 50px;
				color: black;
				background-color: #00BFFF;
				border-radius: 50%;
				margin-top: 5px;
				cursor: pointer;
			}
			.right{
				width: 930px;
				float: right;
				height: 400px;
				padding: 50px;
				border-left: 2px solid #F5F5DC;
			}